/* General */

body {
  margin-left: 5%;
  margin-right: 5%;
}

/* Representation */

.invisible {
  display: none;
}

input, select {
  width: 250px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 18px;
  font-weight: 300;
}

.button {
  border: solid black 1.5px;
  width: 100px;
  height: 50px;
  background-color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 1.5%;
  transition: 0.5 ease;
  font-weight: 400;
}

.companyname {
  cursor: pointer;
}

/* Add page */

.new_company input, .new_company select, .new_user input, .new_user select {
  margin-top: 1.5%;
}

/* Edit page */

.edit_company p {
  text-align: center;
  margin-top: 1%;
}

/* Text */

h1 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: inline-block;
}

h2 {
  font-family: 'Montserrat';
  letter-spacing: 1.4px;
  font-weight: 400;
}

.form_header {
  text-align: center;
}

p {
  font-family: 'Lato';
  font-size: 15px;
  letter-spacing: 1.2px;
  color: #3a3a3a;
}

a {
  font-family: 'Lato';
  color: black;
  letter-spacing: 1.2px;
  border-bottom: solid black 1px;
}

a:hover {
  text-decoration: none;
  color: black;
}

/* Animations */

.hvr-fade {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: black;
  color: white;
}
